.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-list-1 {
  margin-top: 184px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 514px;
  grid-gap: 20px;
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-scale: 0.3;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  --radius: 20px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-1 .u-container-layout-1 {
  padding: 29px 10px;
}

.u-section-1 .u-icon-1 {
  height: 56px;
  width: 56px;
  color: rgb(255, 255, 255) !important;
  margin: 2px auto 0;
  padding: 5px;
}

.u-section-1 .u-text-1 {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  width: auto;
  margin: 24px 6px 0;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-scale: 0.3;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  --radius: 20px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-1 .u-container-layout-2 {
  padding: 29px 10px;
}

.u-section-1 .u-icon-2 {
  height: 56px;
  width: 56px;
  margin: 2px auto 0;
  padding: 5px;
}

.u-section-1 .u-text-2 {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  width: auto;
  margin: 24px 6px 0;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-scale: 0.3;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  --radius: 20px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-1 .u-container-layout-3 {
  padding: 29px 10px;
}

.u-section-1 .u-icon-3 {
  height: 56px;
  width: 56px;
  margin: 2px auto 0;
  padding: 5px;
}

.u-section-1 .u-text-3 {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  width: auto;
  margin: 24px 6px 0;
}

.u-section-1 .u-list-item-4 {
  --animation-custom_in-scale: 0.3;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  --radius: 20px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-1 .u-container-layout-4 {
  padding: 29px 10px;
}

.u-section-1 .u-icon-4 {
  height: 56px;
  width: 56px;
  margin: 2px auto 0;
  padding: 5px;
}

.u-section-1 .u-text-4 {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  width: auto;
  margin: 24px 6px 0;
}

.u-section-1 .u-list-item-5 {
  --animation-custom_in-scale: 0.3;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  --radius: 20px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-1 .u-container-layout-5 {
  padding: 29px 10px;
}

.u-section-1 .u-icon-5 {
  height: 56px;
  width: 56px;
  margin: 2px auto 0;
  padding: 5px;
}

.u-section-1 .u-text-5 {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  width: auto;
  margin: 24px 6px 0;
}

.u-section-1 .u-list-item-6 {
  --animation-custom_in-scale: 0.3;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  --radius: 20px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-1 .u-container-layout-6 {
  padding: 29px 10px;
}

.u-section-1 .u-icon-6 {
  height: 56px;
  width: 56px;
  margin: 2px auto 0;
  padding: 5px;
}

.u-section-1 .u-text-6 {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  width: auto;
  margin: 24px 6px 0;
}

.u-section-1 .u-list-item-7 {
  --animation-custom_in-scale: 0.3;
  --radius: 20px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-1 .u-container-layout-7 {
  padding: 29px 10px;
}

.u-section-1 .u-icon-7 {
  height: 56px;
  width: 56px;
  margin: 2px auto 0;
  padding: 5px;
}

.u-section-1 .u-text-7 {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  width: auto;
  margin: 24px 6px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
    min-height: 433px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 61px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 10px);
    min-height: 665px;
  }

  .u-section-1 .u-list-item-1 {
    transition-duration: 0.5s;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 9px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-list-item-2 {
    transition-duration: 0.5s;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 9px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-list-item-3 {
    transition-duration: 0.5s;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 9px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-list-item-4 {
    transition-duration: 0.5s;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 9px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-list-item-5 {
    transition-duration: 0.5s;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 9px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-list-item-6 {
    transition-duration: 0.5s;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 9px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 9px;
    margin-left: 2px;
    margin-right: 2px;
  }
}

.u-section-1 .u-list-item-1,
.u-section-1 .u-list-item-1:before,
.u-section-1 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  border-radius: 10px !important;
  transform: scale(1.1) !important;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  border-radius: 10px !important;
  transform: scale(1.1) !important;
}

.u-section-1 .u-list-item-2,
.u-section-1 .u-list-item-2:before,
.u-section-1 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  border-radius: 10px !important;
  transform: scale(1.1) !important;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  border-radius: 10px !important;
  transform: scale(1.1) !important;
}

.u-section-1 .u-list-item-3,
.u-section-1 .u-list-item-3:before,
.u-section-1 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  border-radius: 10px !important;
  transform: scale(1.1) !important;
}

.u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  border-radius: 10px !important;
  transform: scale(1.1) !important;
}

.u-section-1 .u-list-item-4,
.u-section-1 .u-list-item-4:before,
.u-section-1 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  border-radius: 10px !important;
  transform: scale(1.1) !important;
}

.u-section-1 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  border-radius: 10px !important;
  transform: scale(1.1) !important;
}

.u-section-1 .u-list-item-5,
.u-section-1 .u-list-item-5:before,
.u-section-1 .u-list-item-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-5.u-list-item-5.u-list-item-5:hover {
  border-radius: 10px !important;
  transform: scale(1.1) !important;
}

.u-section-1 .u-list-item-5.u-list-item-5.u-list-item-5.hover {
  border-radius: 10px !important;
  transform: scale(1.1) !important;
}

.u-section-1 .u-list-item-6,
.u-section-1 .u-list-item-6:before,
.u-section-1 .u-list-item-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-6.u-list-item-6.u-list-item-6:hover {
  border-radius: 10px !important;
  transform: scale(1.1) !important;
}

.u-section-1 .u-list-item-6.u-list-item-6.u-list-item-6.hover {
  border-radius: 10px !important;
  transform: scale(1.1) !important;
}

.u-section-1 .u-list-item-7,
.u-section-1 .u-list-item-7:before,
.u-section-1 .u-list-item-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-7.u-list-item-7.u-list-item-7:hover {
  border-radius: 10px !important;
  transform: scale(1.1) !important;
}

.u-section-1 .u-list-item-7.u-list-item-7.u-list-item-7.hover {
  border-radius: 10px !important;
  transform: scale(1.1) !important;
}